FLASK_SECRET_KEY=ANY_RANDOM_STRING # preferably atleast 16 characters long
JWT_SECRET_KEY=ANY_RANDOM_STRING # preferably atleast 16 characters long
LOG_KEY==INSERT_FERNET_KEY_HERE #  32 url-safe base64-encoded bytes

ADMIN_IDS=[1, 2, 3, . . . . .]

DB_HOST=INSERT_DB_HOST_JERE
DB_USER=INSERT_DB_USERNAME_HERE
DB_PASSWORD=INSERT_DB_PASSWORD_HERE
DB_NAME=bob_trust

# use this to generate a log_key:
#
# from cryptography.fernet import Fernet
# print(Fernet.generate_key().decode())